<div>         
  <table class="table table-hover box_shadow">
    <tbody>
      <tr>
        <td>Title</td>
        <td><%= @note.title %></td>
      </tr>
      <tr>
        <td>Body</td>
        <td><%= @note.body %></td>
      </tr>
    <tr>
      <td>Tags</td>
      <td>
        <% @note.tags.split(",").each do |tag| %>
          <span class="badge badge-primary"><%= tag %></span>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<%= link_to 'Edit', edit_note_path(@note), class: 'btn btn-info' %> |
<%= link_to 'Back', notes_path, class: 'btn btn-info' %>
